.brand-form {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .brand-form h2 {
    margin-bottom: 20px;
  }
  
  .brand-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .brand-form input,
  .brand-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .brand-form textarea {
    height: 100px;
  }
  


  .brand-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }

  .brand-form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  /* Wrapper for checkboxes */
.checkboxes
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkboxes label
{
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  position: relative;
  width: 50%;
}

.checkboxes input[type="checkbox"]
{

  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  outline: none;
  margin: 15px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50; /* Ensure it appears behind the content */
}

/* Delete Box Content */
.delete-box-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 20; /* Ensure it appears above the overlay */
}

.deleteButton
{
  background-color: rgb(173, 0, 0) !important;
}

.uploaded-files
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  margin: 10px 0;
}

.uploaded-file
{
  margin: 5px;
}

.uploaded-img
{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}