.items {
  width: 80%;
  margin: 0 auto;
}
.item-data {
  padding: 15px;
}

.item-above-fold {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
}

.item-checkbox {
  display: inline-flex;
  flex-direction: column;
  font-size: .7rem;
  text-transform: uppercase;
  margin: 10px 10px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.item-property {
  display: inline-flex;
  flex-direction: column;
  font-size: .5rem;
  text-transform: uppercase;
  margin: 10px 25px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.item-property-button {
  text-transform: uppercase;
  color: #4b4b4b;
  display: inline;
  font-size: .7rem;
  padding: 10px 10px;
  transform: translate(-10px, 0px);
  transition: all 0.3s;
}

.item-property-button:hover {
  background-color: #c4c4c4;
  font-size: .7rem;
  font-weight: bold;
}

.item-details {

  font-family: Arial, sans-serif;
  width: 100%;
  margin: 5px 0px;
  padding: 5px 20px;
  background-color: #ebebeb;
  border: #4b4b4b 1px solid;
  transition: all 0.3s;
  transform: translate(-20px, 0px);
}

.item-details:hover {
  background-color: #f0f0f0;
}

.item-details h1 {
  display: inline;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.thumbnail {
  height: 128px;
  width: 128px;
  border-radius: 64px;

  object-fit: cover;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.thumbnail:hover {
  transform: scale(1.1);
}


.item-details button {
  font-size: .5rem;
  margin: 10px 0;
}

.item-models-container
{
  display: block;
}
.item-details a:hover {
  text-decoration: underline;
}


.search-box {
  width: 100%;
  height: 26px;
  margin: 20px 0;
  font-size: 16px;

}

.item-button
{
  background-color: #4b4b4b;
  text-transform: uppercase;
  color: #ebebeb;
  display: inline;
  font-size: .7rem;
  padding: 10px 45px;
  transform: translate(-10px, 0px);
}

@media screen and (max-width: 1200px) {
  .item-above-fold {
    flex-direction: column;
    text-align: center;
  }

  .item-property-button {
    transform: translate(0px, 0px);
  }

  .item-data {
    text-align: center;
  }

  .item-property {

    margin: 2px 25px;
  }

  .items h4
  {
    margin: 5px 0;
  }

  .items p
  {
    margin: 5px 0;
  }

}