.member {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.member-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    transition: all 0.3s;
}

.member-info:hover {
    background-color: rgb(189, 189, 189);
}

.member-pic {
    width: 200px;
    margin: 0 10px;
    text-align: center;
}

.member-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.no-task {
    background-color: rgb(245, 153, 153);
}

.member .task {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.member-log {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

.entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.entry-details {
    display: flex;
    flex-direction: row;
    padding: 0 10px;

    align-items: center;
    width: 550px;
}

.entry-details h3 {
    margin: 0 5px;
    width: 100px;
}

.log-btn
{
    background: none;
    text-transform: capitalize;
    font-size: 1em;
    text-decoration: underline;

}
.gap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(141, 46, 46);
    border: 1px solid rgb(141, 46, 46);
    margin: 10px 0; 
    padding: 0 10px;
    
}

.entry .manual {
    background-color: rgb(218, 193, 170);
}

.entry-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.isOdd
{
    background-color: rgb(230, 230, 230);
}

.isEven
{
    background-color: rgb(255, 255, 255);
}

.entry-day
{
    padding: 10px;
}
.entry-day hr
{
    background-color: rgb(255, 255, 255);
    height: 2px;
}

.date-separator
{
    margin-top : 0px;
}

.entry-container
{
    padding: 0 40px;
}
.entry-today
{
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

.task-name
{
    background-color: rgb(63, 63, 63);
    padding:  0 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
}

.task-name:hover
{
    background-color: rgb(141, 46, 46);
}


@media (max-width: 768px) {

    .member-log {

        width: 90%;
        margin: 25px auto;
        padding: 0;

    }

    .time-entries
    {
        padding: 0;
        margin: 0;
    }

    .member
    {
        margin: 10 auto;
        padding: 0;
    }

    .member .entry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0;
        padding: 0;
    }

    .entry-details {
        width: auto;
        flex-direction: column;
    }



    .entry-details h3 {
        width: auto;
    }



    .member-pic {

        justify-content: start;
        align-items: start;
        text-align: start;
        width: 100px;

    }


    .member-pic h3

    {
        width: 50px;
    }


}