.team-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-member-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.team-member {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    background-color: #f0f0f0;
    position: relative;

}

.team-member-prop {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    min-height: 0;
    margin: 0 25px;
}

.no-task {
    background-color: rgb(226, 134, 134);
}


.profile-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;

    text-align: center;
}

.profile-picture-container {
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e2cfb1;
    border-radius: 50%;

}

.no-picture {
    font-size: 20px;
    color: #333;

}

.team-log {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9100;

}

.log-container {
    width: min(60%, 500px);
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    padding: 50px 50px;
    overflow: auto;
    max-height: 70%;
    position: relative;
    top: 5%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

}

.log-entry {
    margin: 4px auto;
    display: flex;
    padding: 0 25px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(236, 236, 236);

}

.log-prop {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    min-height: 0;


}

.team-member-admin {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

.team-member-admin button {
    padding: 10px;
    margin: 0;
    background: none;
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .team-member {
        margin: 5px auto;
        padding: 0;
        flex-direction: row;
    }



    .team-member-prop {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
        min-height: 0;
        margin: 25px;


    }

    .team-member-prop h3,
    .team-member-prop p,
    .team-member-prop h5 {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

    .team-member-prop h5,
    .log-movement {
        display: none;
    }


    .team-member-pic {
        display: none;
    }

    .log-entry {
        padding: 0;
        width: 100%;
        margin: 5px auto;
        align-items: center;
        justify-items: space-between;
        line-height: 0.7em;
    }

    .log-container {
        padding: 0;
        width: 95%;
    }

    .log-entry p {
        font-size: 1em;
    }
}