.member-log-wrapper
{

    width: min(85%,900px);
    height: 75vh;
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 8px;
    position: fixed;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member-log-container
{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto; 

}

.log-time-label
{
    display: inline;
}

.log-date-label
{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}